/*
 * Colors
 */
$black: #303030;
$dark_grey: #606060;
$mid_grey: #a0a0a0;
$light_grey: #f2f2f2;
$orange: #FF8700;
$dark_blue: #03406A;
$light_blue: #04859D;
$brown: #A65800;
$white: #ffffff;

$border_radius: 5px;
