=semantic_form_for [:admin, @page] do |f|
  =f.inputs 'Details' do
    =f.input :title
    =f.input :description, :as => :text
    =f.input :recipe
    =f.input :url
  =f.inputs 'Meta Data' do
    =f.input :meta_title, :hint => 'This is the text that will appear in the title bar.  If you don\'t enter anything here, the page title entered above will be used'
    =f.input :meta_keywords, :hint => 'These are keywords that may be taken into account by search engines.  You should enter up to 5 words or phrases separated by commas'
    =f.input :meta_description, :as => :text, :hint => 'This is the description that will be shown by search engines'
  =f.actions

  -if @page.recipe
    =f.inputs 'Content' do
      -@page.recipe.ingredients.each do |i_id, i|
        = render :partial => 'admin/cms/pages/ingredient', :locals => {:semantic_form => f, :section => s, :ingredient => i}
      -@page.recipe.sections.each do |s_id, s|
        = render :partial => 'admin/cms/pages/section', :locals => {:semantic_form => f, :section => s}

    = f.buttons
