-extend Cms::ActiveAdmin::ComponentsHelper
-admin_panel 'Page Details' do
  .panel_contents
    .attributes_table
      %table
        %tbody
          %tr
            %th Title
            %td = page.title
